* {
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: 'Vazer';
    src: url('../fonts/vazir-Black.eot');
    src: url('../fonts/vazir.ttf') format('truetype'), url('../fonts/vazir.woff2') format('woff2'), url('../fonts/vazir.woff') format('woff');
}

body {
    font-family: 'Vazer';
    direction: rtl;
}

body .main {
    width: 100%;
    max-width: 1800;
    background-color: rgb(170, 170, 170);
    position: absolute;
    top: 0%;
    min-height: 1800px;
}

body .main .contant {
    width: 90%;
    height: 350px;
    overflow: hidden;
    position: absolute;
    top: 100px;
    right: 50%;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    background-color: #686868;
    padding: 30px 30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

body .main .contant .btnOne {
    position: absolute;
    left: 10px;
    top: 340px;
    padding: 5px 50px;
    font-size: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}

body .main .modal {
    position: absolute;
    width: 100%;
    height: 100vw;
    background-color: rgb(0, 0, 0, 0.5);
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    opacity: 0;
    pointer-events: none;
}

body .main .modal.active {
    opacity: 1;
    pointer-events: visible;
}

body .main .modal .modalContant {
    position: absolute;
    width: 55%;
    height: 350px;
    overflow: hidden;
    position: absolute;
    top: 100px;
    right: 50%;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    background-color: #161616;
    padding: 30px 30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

body .main .modal .modalContant p {
    color: #fff;
    padding: 10px 50px;
}

body .main .modal .modalContant button {
    position: fixed;
    left: 10px;
    top: 340px;
    padding: 5px 20px;
    font-size: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}

span {
    background: rgb(0, 0, 0);
    width: 0px;
    height: 0px;
    position: absolute;
    border-radius: 50%;
    opacity: 0.7;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: amin 01s linear 0s infinite;
    -webkit-animation: amin 01s linear 0s infinite;
    pointer-events: none;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

@keyframes amin {
    0% {
        opacity: 0.7;
        width: 0px;
        height: 0px;
    }
    100% {
        opacity: 0;
        width: 400px;
        height: 400px;
    }
}